<p id="notice"><%= notice %></p>

<h1>Neues Mitglied:</h1>

<p class="label alert"><%= alert %></p>

<%= render 'addform', member: @member %>

<%= link_to 'Zurück', group_path(@group.id), class: "button small warning" %>
