<h1>Gewinner</h1>

<p id="notice"><%= notice %></p>


  <thead>

  </thead>

  <tbody>
  <%= debug @endsummen %>
<% @endsummen.each do |k, v| %>
<%= "Gruppe #{k} gewinnt mit #{v[0]} Punkten" %>
<% end %>
  </tbody>