<h1>Index</h1>
		<p>Die Datenbank enthält Fehler wollen sie trotzdem fortfahren?</p>
		<%= button_to 'Ja', analysis_select_path, method: :get, class: "btn btn-primary" %> <%= button_to 'Nein', auswertung_path, method: :get, class: "btn btn-primary" %>
